In [114]:
import pandas as pd

In [115]:
df = pd.read_csv("dehradun_historical_weather.csv", encoding="ISO-8859-1")

In [116]:
df

           Date  Temperature  Humidity Weather Description
0    2022-11-25         16.7      61.2    Partially cloudy
1    2022-11-26         17.5      59.6    Partially cloudy
2    2022-11-27         17.3      58.5    Partially cloudy
3    2022-11-28         16.7      65.0               Clear
4    2022-11-29         16.8      67.8    Partially cloudy
..          ...          ...       ...                 ...
727  2024-11-21         16.4      52.7               Clear
728  2024-11-22         16.3      54.8               Clear
729  2024-11-23         16.4      56.9    Partially cloudy
730  2024-11-24         17.2      47.0               Clear
731  2024-11-25         17.3      40.5               Clear

[732 rows x 4 columns]

In [117]:

missing_values = df.isnull().sum()

print("Missing values in each column:")
print(missing_values)


if missing_values.sum() == 0:
    print("\nNo missing values in the dataset.")
else:
    print("\nThere are missing values in the dataset.")

Missing values in each column:
Date                   0
Temperature            0
Humidity               0
Weather Description    0
dtype: int64

No missing values in the dataset.

In [118]:


df.columns = df.columns.str.replace(' ', '_')

In [119]:
df

           Date  Temperature  Humidity Weather_Description
0    2022-11-25         16.7      61.2    Partially cloudy
1    2022-11-26         17.5      59.6    Partially cloudy
2    2022-11-27         17.3      58.5    Partially cloudy
3    2022-11-28         16.7      65.0               Clear
4    2022-11-29         16.8      67.8    Partially cloudy
..          ...          ...       ...                 ...
727  2024-11-21         16.4      52.7               Clear
728  2024-11-22         16.3      54.8               Clear
729  2024-11-23         16.4      56.9    Partially cloudy
730  2024-11-24         17.2      47.0               Clear
731  2024-11-25         17.3      40.5               Clear

[732 rows x 4 columns]

In [120]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['DayOfYear'] = df['Date'].dt.dayofyear
df['WeekOfYear'] = df['Date'].dt.isocalendar().week


df = df.drop(columns=['Date'])

In [121]:
df

     Temperature  Humidity Weather_Description  Month  DayOfYear  WeekOfYear
0           16.7      61.2    Partially cloudy     11        329          47
1           17.5      59.6    Partially cloudy     11        330          47
2           17.3      58.5    Partially cloudy     11        331          47
3           16.7      65.0               Clear     11        332          48
4           16.8      67.8    Partially cloudy     11        333          48
..           ...       ...                 ...    ...        ...         ...
727         16.4      52.7               Clear     11        326          47
728         16.3      54.8               Clear     11        327          47
729         16.4      56.9    Partially cloudy     11        328          47
730         17.2      47.0               Clear     11        329          47
731         17.3      40.5               Clear     11        330          48

[732 rows x 6 columns]

In [122]:
from sklearn.preprocessing import StandardScaler
columns_to_scale = ["Temperature", "Humidity", "DayOfYear", "WeekOfYear"]



scaler = StandardScaler()


scaled_data = scaler.fit_transform(df[columns_to_scale])


scaled_df = pd.DataFrame(scaled_data, columns=columns_to_scale)


df[columns_to_scale] = scaled_df
df

     Temperature  Humidity Weather_Description  Month  DayOfYear  WeekOfYear
0      -0.955472  0.166428    Partially cloudy     11   1.380099    1.355018
1      -0.822512  0.082465    Partially cloudy     11   1.389577    1.355018
2      -0.855752  0.024740    Partially cloudy     11   1.399056    1.355018
3      -0.955472  0.365840               Clear     11   1.408535    1.421484
4      -0.938852  0.512776    Partially cloudy     11   1.418013    1.421484
..           ...       ...                 ...    ...        ...         ...
727    -1.005332 -0.279626               Clear     11   1.351662    1.355018
728    -1.021952 -0.169425               Clear     11   1.361141    1.355018
729    -1.005332 -0.059223    Partially cloudy     11   1.370620    1.355018
730    -0.872372 -0.578745               Clear     11   1.380099    1.355018
731    -0.855752 -0.919845               Clear     11   1.389577    1.421484

[732 rows x 6 columns]

In [123]:
df

     Temperature  Humidity Weather_Description  Month  DayOfYear  WeekOfYear
0      -0.955472  0.166428    Partially cloudy     11   1.380099    1.355018
1      -0.822512  0.082465    Partially cloudy     11   1.389577    1.355018
2      -0.855752  0.024740    Partially cloudy     11   1.399056    1.355018
3      -0.955472  0.365840               Clear     11   1.408535    1.421484
4      -0.938852  0.512776    Partially cloudy     11   1.418013    1.421484
..           ...       ...                 ...    ...        ...         ...
727    -1.005332 -0.279626               Clear     11   1.351662    1.355018
728    -1.021952 -0.169425               Clear     11   1.361141    1.355018
729    -1.005332 -0.059223    Partially cloudy     11   1.370620    1.355018
730    -0.872372 -0.578745               Clear     11   1.380099    1.355018
731    -0.855752 -0.919845               Clear     11   1.389577    1.421484

[732 rows x 6 columns]

In [124]:
import numpy as np
import pandas as pd


df['sin_month'] = np.sin(2 * np.pi * df['Month'] / 12)
df['cos_month'] = np.cos(2 * np.pi * df['Month'] / 12)


df= df.drop(columns=['Month'])

In [125]:
df

,Temperature,Humidity,Weather_Description,DayOfYear,WeekOfYear,sin_month,cos_month
0,-0.955472,0.166428,Partially cloudy,1.380099,1.355018,-0.5,0.866025
1,-0.822512,0.082465,Partially cloudy,1.389577,1.355018,-0.5,0.866025
2,-0.855752,0.024740,Partially cloudy,1.399056,1.355018,-0.5,0.866025
3,-0.955472,0.365840,Clear,1.408535,1.421484,-0.5,0.866025
4,-0.938852,0.512776,Partially cloudy,1.418013,1.421484,-0.5,0.866025
...,...,...,...,...,...,...,...
727,-1.005332,-0.279626,Clear,1.351662,1.355018,-0.5,0.866025
728,-1.021952,-0.169425,Clear,1.361141,1.355018,-0.5,0.866025
729,-1.005332,-0.059223,Partially cloudy,1.370620,1.355018,-0.5,0.866025
730,-0.872372,-0.578745,Clear,1.380099,1.355018,-0.5,0.866025
731,-0.855752,-0.919845,Clear,1.389577,1.421484,-0.5,0.866025

In [126]:
from sklearn.preprocessing import LabelEncoder

# Count the occurrences of each class in 'Weather_Description'
class_counts = df['Weather_Description'].value_counts()

# Identify the class with the minimum number of instances
class_to_remove = class_counts.idxmin()

# Remove the rows corresponding to the minimum class
df = df[df['Weather_Description'] != class_to_remove]

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode the 'Weather_Description' column to get numeric labels for y
df['Weather_Description_Encoded'] = label_encoder.fit_transform(df['Weather_Description'])

# Create the label mapping (string to numeric)
label_mapping = {label: i for i, label in enumerate(label_encoder.classes_)}

# Create the reverse mapping (numeric to string)
reverse_mapping = {i: label for i, label in enumerate(label_encoder.classes_)}

# Shift encoded values back to 'Weather_Description'
df['Weather_Description'] = df['Weather_Description_Encoded']

# Drop the 'Weather_Description_Encoded' column
df = df.drop(columns=['Weather_Description_Encoded'])

# Display the final DataFrame and mappings
print("DataFrame with 'Weather_Description' replaced by encoded values:")
print(df[['Weather_Description']])

print("\nLabel Mapping (String to Numeric):")
print(label_mapping)

print("\nReverse Mapping (Numeric to String):")
print(reverse_mapping)

DataFrame with 'Weather_Description' replaced by encoded values:
     Weather_Description
0                      1
1                      1
2                      1
3                      0
4                      1
..                   ...
727                    0
728                    0
729                    1
730                    0
731                    0

[729 rows x 1 columns]

Label Mapping (String to Numeric):
{'Clear': 0, 'Partially cloudy': 1, 'Rain': 2, 'Rain, Overcast': 3, 'Rain, Partially cloudy': 4}

Reverse Mapping (Numeric to String):
{0: 'Clear', 1: 'Partially cloudy', 2: 'Rain', 3: 'Rain, Overcast', 4: 'Rain, Partially cloudy'}

C:\Users\wwwra\AppData\Local\Temp\ipykernel_7512\1496057727.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weather_Description_Encoded'] = label_encoder.fit_transform(df['Weather_Description'])
C:\Users\wwwra\AppData\Local\Temp\ipykernel_7512\1496057727.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weather_Description'] = df['Weather_Description_Encoded']

In [127]:
X=df.drop(columns='Weather_Description')
X

y=df['Weather_Description']

In [128]:
y.unique()

array([1, 0, 4, 3, 2])

In [129]:
import numpy as np

# Assuming y is your target variable
class_counts = np.unique(y, return_counts=True)

# Display the number of instances for each class
class_counts_dict = dict(zip(class_counts[0], class_counts[1]))
print(class_counts_dict)

{0: 272, 1: 167, 2: 23, 3: 36, 4: 231}

In [130]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [131]:
import numpy as np

# Assuming y is your target variable
class_counts = np.unique(y_train, return_counts=True)

# Display the number of instances for each class
class_counts_dict = dict(zip(class_counts[0], class_counts[1]))
print(class_counts_dict)

{0: 188, 1: 110, 2: 15, 3: 21, 4: 154}

In [132]:
from imblearn.over_sampling import ADASYN
from imblearn.under_sampling import TomekLinks
from collections import Counter

from imblearn.combine import SMOTETomek
from collections import Counter

# Original features (X) and labels (y)
print("Original class distribution:", Counter(y))

# Define the desired class distribution
desired_class_distribution = {0: 290, 1: 280, 2: 310, 3: 300, 4: 290}

# Initialize SMOTETomek with the specified sampling strategy
smote_tomek = SMOTETomek(sampling_strategy=desired_class_distribution, random_state=42)

# Fit and resample the dataset
X_resampled, y_resampled = smote_tomek.fit_resample(X, y)

# Check the new class distribution
print("Resampled class distribution:", Counter(y_resampled))

Original class distribution: Counter({0: 272, 4: 231, 1: 167, 3: 36, 2: 23})
Resampled class distribution: Counter({2: 296, 3: 287, 4: 263, 0: 251, 1: 243})

In [133]:
# Print the number of samples in the resampled data
print("Number of samples in X_resampled:", X_resampled.shape[0])

# Print the class distribution in the resampled data
unique_classes, class_counts = np.unique(y_resampled, return_counts=True)
print("Class distribution after SMOTETomek:", dict(zip(unique_classes, class_counts)))

Number of samples in X_resampled: 1340
Class distribution after SMOTETomek: {0: 251, 1: 243, 2: 296, 3: 287, 4: 263}

In [134]:
import numpy as np
from sklearn.utils.class_weight import compute_class_weight


# Get unique classes
classes = np.unique(y_train)

# Calculate class weights
class_weights = compute_class_weight(class_weight='balanced', classes=classes, y=y_train)

# Create a dictionary of class weights
class_weights_dict = dict(zip(classes, class_weights))

# Print the class weights
print("Class Weights:", class_weights_dict)

Class Weights: {0: 0.5191489361702127, 1: 0.8872727272727273, 2: 6.506666666666667, 3: 4.647619047619048, 4: 0.6337662337662338}

In [138]:
from catboost import CatBoostClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
from sklearn.preprocessing import label_binarize
import numpy as np

# Adjust class weights to improve the performance of class 2
class_weights = {0: 10, 1: 9, 2: 33, 3: 8, 4: 8}

# Initialize CatBoostClassifier with updated class_weights
catboost_clf = CatBoostClassifier(
    iterations=1000,  # Keep iterations reasonable to avoid overfitting
    depth=6,         # Increased depth for better learning
    learning_rate=0.05,  # Further decreased learning rate for more stable learning
    random_state=42,
    class_weights=class_weights,
    cat_features=[],  # Specify categorical features if needed
    verbose=200       # Print progress every 200 iterations
)

# Fit the model to the training data
catboost_clf.fit(X_resampled, y_resampled)

# Predict on the test set
y_pred_catboost = catboost_clf.predict(X_test)
y_pred_proba = catboost_clf.predict_proba(X_test)

# Print classification report
print("CatBoost Classification Report:\n", classification_report(y_test, y_pred_catboost))

# Print confusion matrix
print("CatBoost Confusion Matrix:\n", confusion_matrix(y_test, y_pred_catboost))

# Binarize the output labels for ROC AUC calculation
y_test_binarized = label_binarize(y_test, classes=[0, 1, 2, 3, 4])
n_classes = y_test_binarized.shape[1]

# Calculate ROC AUC for each class
roc_auc = dict()
for i in range(n_classes):
    roc_auc[i] = roc_auc_score(y_test_binarized[:, i], y_pred_proba[:, i])

# Print ROC AUC scores for each class
for i in range(n_classes):
    print(f"ROC AUC score for class {i}: {roc_auc[i]:.2f}")

0:	learn: 1.5470523	total: 26ms	remaining: 26s
200:	learn: 0.5144698	total: 2.12s	remaining: 8.45s
400:	learn: 0.3819163	total: 4.3s	remaining: 6.42s
600:	learn: 0.3158013	total: 6.46s	remaining: 4.29s
800:	learn: 0.2713025	total: 8.61s	remaining: 2.14s
999:	learn: 0.2389043	total: 10.8s	remaining: 0us
CatBoost Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.80      0.82        84
           1       0.77      0.82      0.80        57
           2       0.29      0.88      0.44         8
           3       0.68      0.87      0.76        15
           4       0.98      0.73      0.84        77

    accuracy                           0.79       241
   macro avg       0.71      0.82      0.73       241
weighted avg       0.84      0.79      0.80       241

CatBoost Confusion Matrix:
 [[67 11  6  0  0]
 [ 8 47  2  0  0]
 [ 1  0  7  0  0]
 [ 1  0  0 13  1]
 [ 3  3  9  6 56]]
ROC AUC score for class 0: 0.94
ROC AUC score for class 1: 0.95
ROC AUC score for class 2: 0.98
ROC AUC score for class 3: 0.98
ROC AUC score for class 4: 0.96

In [103]:
import numpy as np
import pandas as pd

# Example Training Feature Names
train_feature_names = [
    'Temperature', 'Humidity', 'DayOfYear', 
    'WeekOfYear', 'sin_month', 'cos_month'
]

# Original X_test DataFrame
X_test = pd.DataFrame({
    'Temperature': [12, 22, 25],
    'Humidity': [85.0, 80.0, 90.0],
    'Month': [7, 6, 11],
    'DayOfYear': [180, 210, 300],
    'WeekOfYear': [27, 30, 45]
})

# Transform Month into Cyclic Data
X_test['sin_month'] = np.sin(2 * np.pi * X_test['Month'] / 12)
X_test['cos_month'] = np.cos(2 * np.pi * X_test['Month'] / 12)

# Drop Original Month Column
X_test = X_test.drop(columns=['Month'])

# Reorder Columns to Match Training Data
X_test = X_test[train_feature_names]

In [104]:

y_pred=catboost_clf.predict(X_test)
y_pred

array([[4],
       [4],
       [0]], dtype=int64)

In [105]:
import joblib
joblib.dump(catboost_clf, 'balanced_random_forest_model.joblib')

['balanced_random_forest_model.joblib']